body{
    background-image: url(game-background.jpg);
    background-size: cover;
}
.rounded-pill{
    margin-top: 12% !important;
    background: rgba(245, 241, 241, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(255, 255, 255, 0.26); 
}
.rounded-pill:hover{
    background-color: rgba(0, 0, 0, 10%);
}
.shadow{
    background-color: rgba(1, 26, 1, 90%);
    position: relative;
    top: 170px !important;
    font-family: 'Times New Roman', Times, serif;
}
.questionshow, .hello, #myAward{
    font-family: 'Times New Roman', Times, serif;
}
.py-4{
    position: relative;
    bottom: 60px;
}
#disp{
    font-family: cursive;
}
.btn-black{
    border: thin solid white;
}
@keyframes scale {
    from {
        transform: scale(50%);
    }

    to {
        transform: scale(100%);
    }
}
.btn-black:hover{
    background-color: rgba(0, 0, 0, 80%);
    animation-name: scale;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.border-0{
    background: none;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#gameOver{
    font-family: Arial, Helvetica, sans-serif !important;
}
img{
    position: relative;
    bottom: 380px;
    width: 160px;
    height: 100px;
}
@keyframes scale2 {
    from {
        transform: scale(75%);
    }

    to {
        transform: scale(100%);
    }}
img:hover{
    animation-name: scale2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@media screen and (max-width: 600px) {
    .shadow{
        position: relative;
        top: 0px !important;
        font-size: 20px !important;
        width: 150px !important;
    }
    input{
        width: 100px !important;
    }
    #gameOver{
        margin-top: -10px !important;
    }
    #myAward{
        
    }
}