body{
    background-image: url(game-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.rounded-pill{
    margin-top: 12% !important;
    background: rgba(245, 241, 241, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(255, 255, 255, 0.26); 
}
.rounded-pill:hover{
    background-color: rgba(0, 0, 0, 10%);
}
.shadow{
    background-color: rgba(1, 26, 1, 90%);
    position: relative;
    top: 170px !important;
    font-family: 'Times New Roman', Times, serif;
}
.questionshow, .hello, #myAward{
    font-family: 'Times New Roman', Times, serif;
}
.py-4{
    position: relative;
    bottom: 60px;
}
#disp{
    font-family: cursive;
}
.btn-black{
    border: thin solid white;
}
@keyframes scale {
    from {
        transform: scale(50%);
    }

    to {
        transform: scale(100%);
    }
}
.btn-black:hover{
    background-color: rgba(0, 0, 0, 80%);
    animation-name: scale;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.border-0{
    background: none;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#gameOver{
    font-family: Arial, Helvetica, sans-serif !important;
}
img{
    position: relative;
    bottom: 380px;
    width: 160px;
    height: 100px;
}
@keyframes scale2 {
    from {
        transform: scale(75%);
    }

    to {
        transform: scale(100%);
    }}
img:hover{
    animation-name: scale2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@media screen and (max-width: 600px) {
    body{
        height: 900px;
    }
    .shadow{
        top: 0px !important;
        font-size: 28px !important;
        width: 70% !important;
    }
    input {
        width: 100px !important;
    }
    #gameOver{
        margin-top: 1px !important;
        margin-right: 82px !important;
    }
    #myAward{
        margin-top: 30px;
        margin-right:-6% !important;
        background-color: rgba(0, 0, 0, 68%);
    }
    .rounded-pill{
        width: 94.1%;
        border-radius: 17px !important;
        margin-top: 17% !important;
        backdrop-filter: blur(12.9px);
    }
    .rounded-pill button{
        width: 90.4%;
        font-size: 20px !important;
    }
    .rounded-pill div{
        color: white !important;
        font-weight: normal !important;
    }
    .questionshow{
        font-size: 22px !important;
    }
    img{
        position: relative;
        bottom: 600px;
        right: 80px;
        height: 55px;
        width: 108px;
    }
}
@media screen and (max-width: 375px) {
    body{
        height: 670px;
    }
    input{
        font-size: 28px !important;
    }
    .shadow{
        font-size: 25px !important;
        width: 60% !important;
    }
    #gameOver{
        font-size: 18px !important;
        
    }
    #myAward{
        font-size: 20px !important;
        margin-top: 0;
    }
    .rounded-pill{
        width: 96%;
        max-height: 460px;
        margin-top: 20% !important;
    }
    img{
        bottom: 565px;
        height: 35px;
        width: 87px;
    }
}